<ion-view title="Businesses" hide-back-button="true" cache-view="false" nav-transition="none" id="page7">
  <ion-content padding="true" class="has-header">
    <a href-inappbrowser="https://www.paypal.com/donate/?hosted_button_id=8EHDHNYXXYBH6" id="businesses-button14" class="button button-positive button-block">Donate (keep it free)</a>
    <div>
      <p style="align:center"></p>
      <center>
        25 Latest Businesses
        <b>
          <br> search to find more
        </b>
        <p></p>
      </center>
    </div>
    <label class="item item-input myItem" style="width: 100%;color:black">
      <input type="text" placeholder="Search" ng-model="mySearch.customerSearch" style="color: black;">
      <a ng-if="mySearch.customerSearch != ''" on-touch="mySearch.customerSearch =''">
        <i class="icon ion-ios-close dark placeholder-icon"></i>
      </a>
    </label>
    <div class="list card" id="businesses-card22" ng-repeat="business in allbusinesses | filter:mySearch.customerSearch | limitTo : 25">
      <ion-item class="item-thumbnail-left" id="businesses-list-item11">
        <h2>{{business.businessname}}</h2>
      </ion-item>
      <p>
        {{business.contactname}}
      </p>
      <div id="businesses-button-bar2" class="button-bar">
        <button id="businesses-button16" class="button button-positive button-block">Call</button>
        <button id="businesses-button17" class="button button-positive button-block">Email</button>
        <button id="businesses-button18" class="button button-positive button-block">Website</button>
      </div>
      <p>
        {{business.description}}
      </p>
    </div>
  </ion-content>
</ion-view>