<ion-view title="SignUp" hide-nav-bar="true" cache-view="false" id="page6">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="signUp-form3" class="list">
      <h1 id="signUp-heading1" style="color:#000000;">Sign Up</h1>
      <p>
        Thank you for signing up. Your User ID must be unique. We suggest using your mobile phone number with only numbers. This will make it easy to find and correct issues if needed.
      </p>
      <label class="item item-input item-stacked-label" id="signUp-input6">
        <span class="input-label">ID</span>
        <input type="number" placeholder="" ng-model="newBusiness.id">
      </label>
      <label class="item item-input item-stacked-label" id="signUp-input7">
        <span class="input-label">Email</span>
        <input type="text" placeholder="" ng-model="newBusiness.email">
      </label>
      <label class="item item-input item-stacked-label" id="signUp-input8">
        <span class="input-label">Password</span>
        <input type="text" placeholder="" ng-model="newBusiness.password">
      </label>
      <label class="item item-input item-stacked-label" id="signUp-input9">
        <span class="input-label">Password Again</span>
        <input type="text" placeholder="" ng-model="newBusiness.password1">
      </label>
      <div class="spacer" style="width: 300px; height: 46px;"></div>
      <label class="item item-input item-stacked-label" id="signUp-input10">
        <span class="input-label">Logo URL</span>
        <input type="text" placeholder="" ng-model="newBusiness.logourl">
      </label>
      <label class="item item-input item-stacked-label" id="signUp-input11">
        <span class="input-label">Contact Name</span>
        <input type="text" placeholder="" ng-model="newBusiness.contactname">
      </label>
      <label class="item item-input item-stacked-label" id="signUp-input12">
        <span class="input-label">Phone</span>
        <input type="text" placeholder="" ng-model="newBusiness.phone">
      </label>
      <label class="item item-input item-stacked-label" id="signUp-input13">
        <span class="input-label">Cell</span>
        <input type="text" placeholder="" ng-model="newBusiness.cell">
      </label>
      <label class="item item-input item-stacked-label" id="signUp-input14">
        <span class="input-label">Address</span>
        <input type="text" placeholder="" ng-model="newBusiness.address">
      </label>
      <label class="item item-input item-stacked-label" id="signUp-input15">
        <span class="input-label">City</span>
        <input type="text" placeholder="" ng-model="newBusiness.city">
      </label>
      <label class="item item-input item-stacked-label" id="signUp-input16">
        <span class="input-label">State</span>
        <input type="text" placeholder="" ng-model="newBusiness.state">
      </label>
      <label class="item item-input item-stacked-label" id="signUp-input17">
        <span class="input-label">Zip</span>
        <input type="text" placeholder="" ng-model="newBusiness.zip">
      </label>
      <label class="item item-input item-stacked-label" id="signUp-input18">
        <span class="input-label">Website</span>
        <input type="text" placeholder="" ng-model="newBusiness.website">
      </label>
      <label class="item item-input item-stacked-label" id="signUp-input19">
        <span class="input-label">Description</span>
        <input type="text" placeholder="" ng-model="newBusiness.description">
      </label>
      <label class="item item-input item-stacked-label" id="signUp-input20">
        <span class="input-label">Tags</span>
        <input type="text" placeholder="" ng-model="newBusiness.tags">
      </label>
      <button id="signUp-button10" ng-click="signup()" class="button button-positive button-block">Sign Up</button>
    </form>
  </ion-content>
</ion-view>